sms.jcb1973.dev {
    reverse_proxy app:3000
}

blestatus.jcb1973.dev {
    root * /var/www/ble-data
    file_server
    header /data/* Cache-Control "no-cache, must-revalidate"
    tls {
        issuer acme {
            disable_tlsalpn_challenge
        }
    }
}
